@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.center {
  text-align: center;
}

.relative{
  position:relative;
}

.absolute-center{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.flex {
	display: flex;
	justify-content: center;
	
}
.column{
  flex-direction:  column;
}
.row{
  flex-direction:  row;
}

.page-about{
  padding:30px;
}

.pagination { color: red }

.flash{
  color: red;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-left: 10px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
header{
  .icon{
    float: left;
    padding-left: 15px;
    color: #fff;
    padding-top: 17.5px;
  }
}

/* rests :search */
#location-form{
  div{
    padding: 10px;
  }
}



/* rests :index*/
  
.store-wrapper{
  width: 650px;
}

  .stores{
    text-align:center;
    padding: 0;
    
    .store-wrapper{
      height:200px;
      border-bottom: 1px solid gray;

      a{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      }
    
      span{
        flex-basis: auto;
        width:300px;
        height:200px;
      }
      
      .img-wrapper{
        .image{
          
          max-height:160px;
          max-width:200px;
        
        .no-image{
          background: lightgray;
          color: gray;
          display: block;
          height:100%;
          width:100%;
          .glyphicon-picture{
            top: 35%;
            width: 100%;
            height: 100%;
          }
          .text{
            font-weight: bold;
            line-height: 20px;
          }
        }

        img{
          max-height:160px;
          max-width:200px;
          max-height:max;
          max-width:max;
        } 
        }
      }
      .about-wrapper{
        text-align: left; 
        width:max/2;
          padding:40px 0;
          a{
            color: gray;
            text-decoration: none;
          }
      }
    }
  }

/* rests :show */

.restdetail-wrapper{
  .name{
  }
  div{
    padding: 20px 0;
  }
  .img-wrapper{
    height: 50%;
    margin: 0 50px;

    img{
      height: 300px;
    }

    .img1-wrapper{
      height: 40%;
      width: 50%;
      position: absolute;
      left: 30;
    }
    .img2-wrapper{
      height: 40%;
      width: 50%;
      position: absolute;
      right: 30;
    }
    .no-image{
      background: lightgray;
      color: gray;
      display: block;
      height:80%;
      width:60%;
      top: 0;
      .glyphicon-picture{
        top: 40%;
        width: 100%;
        height: 100%;
      }
      .text{
        font-weight: bold;
        line-height: 20px;
      }
    }
  }
}