@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.relative{
  position:relative;
}

.absolute-center{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.flex {
	display: flex;
	justify-content: center;
	
}
.column{
  flex-direction:  column;
}
.row{
  flex-direction:  row;
}

.pagination { color: red }

.flash{
  color: red;
}

.under-line{
  border-bottom: 1px solid lightgray;
}

.glyphicon{
  padding-right: 8px;
}

.page-about{
  padding-top: 50px;
  p{
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid gray;
  }
  .glyphicon{
    padding-right: 18px; 
  }
}

#error{
  color: red;
  text-align: left;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: rosybrown;
  }
}

.btn-lg {
  padding: 10px 10px;
}

.btn-sm {
  padding: 13px 16px;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-left: 10px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
header{
  .icon{
    float: left;
    padding-left: 15px;
    color: #fff;
    padding-top: 17.5px;
  }
}

/* form */
.form{
  display: inline-block;
  p{
    padding: 5px;
  }

  input, select{
    width: 100%;
  }
}

.radio-button input[type="radio"]:checked + label {
  background-color: #5a6268;
  border-color: #545b62;
  color: #fff;
}



.sign-up-form{
  margin-top: 50px;
}




/* rests :search */
#location-form{
  div{
    padding: 10px;
  }
}

.location-btn{
  font-size: 13px;
  p{
    margin: auto;
  }
  .glyphicon{
    margin-right: 5px;
  }
}

#out{
  margin-top: 15px;
  color: gray;
  font-weight: inherit;
}



/* rests :index*/
  
.store-wrapper{
  width: 650px;
}

  .stores{
    text-align:center;
    padding: 0;
    
    .store-wrapper{
      height:200px;

      a{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      }
    
      span{
        flex-basis: auto;
        width:300px;
        height:200px;
      }
      
      .img-wrapper{
        .image{
          
          max-height:160px;
          max-width:200px;
        
        .no-image{
          background: lightgray;
          color: gray;
          display: block;
          height:100%;
          width:100%;
          .glyphicon-picture{
            top: 35%;
            width: 100%;
            height: 100%;
          }
          .text{
            font-weight: bold;
            line-height: 20px;
          }
        }

        img{
          max-height:160px;
          max-width:200px;
          max-height:max;
          max-width:max;
        } 
        }
      }
      .about-wrapper{
        text-align: left; 
        width:max/2;
          padding:40px 0;
          a{
            color: gray;
            text-decoration: none;
          }
      }
    }
  }

/* rests :show */

.restdetail-wrapper{
  padding: 0 100px;
  .name{
  }
  div{
    padding: 20px 0;
  }
  .img-wrapper{
    height: 50%;

    img{
      height: 300px;
    }

    .img1-wrapper{
      height: 40%;
      width: 50%;
      position: absolute;
      left: 30;
    }
    .img2-wrapper{
      height: 40%;
      width: 50%;
      position: absolute;
      right: 30;
    }
    .no-image{
      background: lightgray;
      color: gray;
      display: block;
      height:80%;
      width:60%;
      top: 0;
      .glyphicon-picture{
        top: 40%;
        width: 100%;
        height: 100%;
      }
      .text{
        font-weight: bold;
        line-height: 20px;
      }
    }
  }

  .details-wrapper{
    
    display: inline-block;
      p{
        text-align: left;
      }
  }
  .share-wrapper{
    margin-top: 10px;
    margin-right: 10px;
      color: grey;
  }
}