@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.center {
  text-align: center;
}

.absolute-center{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.flex {
	display: flex;
	justify-content: center;
	
}
.column{
  flex-direction:  column;
}
.row{
  flex-direction:  row;
}

.page-about{
  padding:30px;
}

.pagination { color: red }

/* header */

#logo {
  float: left;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-left: 10px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
header{
  .icon{
    float: left;
    padding-left: 15px;
    color: #fff;
    padding-top: 17.5px;
  }
}


/* rests :create*/
.stores-wrapper{
  width: max;
  text-align:center;
  
  .stores{
    width:700px;
    
    .store-wrapper{
      position:relative;
      height:200px;
      border-bottom: 1px solid gray;
      
      a{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      }
    
      span{
        width:300px;
        height:200px;
      }
      
      .img-wrapper{
        position: relative;
        
        .image{
          
          max-height:160px;
          max-width:200px;
        
        .no-image{
          background: lightgray;
          color: gray;
          font-weight:bold;
          display: block;
          height:max;
          width:max;
          span{
            margin-top:50px;
            height:30px;
            width:200px;
          }
        }
        img{
          // max-height:160px;
          // max-width:200px;
          max-height:max;
          max-width:max;
        } 
        }
      }
      .about-wrapper{
        text-align: left; 
          padding-top:20px;
          a{
            color: gray;
            text-decoration: none;
          }
      }
    }
  }
}

/* rests :search */



/* rests :show */

