<h1>レストラン検索</h1>

<body>
  <div class="about-wrapper">
    <p>周辺のレストラン</p>
    <!--<!%= debug @_rests_id %>-->
    <!--<!%= debug params %>-->
    <!--<!%= debug @rest_a %>-->
  </div>
  <div class="stores-wrapper flex">
    <div class="stores">
    <% if @_rests_id  %>
    
      <!--<!%= will_paginate @some_rests %>-->
      <% @_rests_id.each do |rest_id| %>
        <% @rest = Rest.find(rest_id) %>
        <p class="store-wrapper flex culmn">
        
          <span class="img-wrapper row">
            <!--<img src="<!%= rest["image_url"]["shop_image1"] %>"/>-->
          </span>
          <span class="about-wrapper row">
            <%= link_to "", rest_path(@rest["id"]) %>
            <span><%= @rest["name"] %></span>
            <br>
            <!--<span>現在地から<!%= rest["access"]["walk"] %>分</span>-->
          </span>
        </p>
      <% end %>
      <% else %>
        検索結果がありませんでした
      <% end %>
    </div>
  </div>
</body>