<header class="navbar navbar-fixed-top navbar-inverse">
  <div>
    <span class="glyphicon glyphicon-hourglass icon"></span>
    <span><%= link_to "busy man restaurants", root_path, id: "logo" %></span>
    <!--<nav>-->
    <!--  <ul class="nav navbar-nav navbar-right">-->
    <!--    <li><%= link_to "Search",   '#' %></li>-->
    <!--  </ul>-->
    <!--</nav>-->
  </div>
</header>